@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

body {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

/* Application and offer section starts here */
section.application-section {
  display: flex;
  max-width: 80%;
  margin: 5% auto;
  padding: 1% 0 1% 4%;
  border-radius: 15px;
  background-image: url("../assets/time-bg.50c998895fad7be4.svg");
  background-color: #624bff;
  background-repeat: no-repeat;
  background-position: 126px 127px;
}

div.application-description {
  max-width: 50%;
  padding-bottom: 20px;
}

div.application-description h2 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

ul.application-section-list {
  margin: 40px 0;
}

ul.application-section-list li {
  font-size: 19px;
  margin-bottom: 20px;
  padding-left: 10px;
  line-height: 1.5;
}

a.apply-btn {
  background: #fff;
  color: #0b7077;
  border-radius: 9px;
  padding: 1.6% 3%;
  line-height: 1.5;
}

div.offer-timer-section {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95%;
}

div.offer-timer-section h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

div.offer-timer-section h2.timer {
  font-size: 90px;
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 60px;
  margin-top: 0;
}

div.offer-timer-section h2.timer-hms {
  font-size: 24px;
  word-spacing: 80px;
  margin-top: 0;
}

ul.application-section-list {
  list-style-image: url("../assets/blue-tick.svg");
}
/* Application and offer section ends here */

/* Hash Include Stasts section starts here */
section div.hashinclude-stats-cards-container {
  background-color: #161616;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 0 4%;
}

div.hashinclude-stats-card h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

div.hashinclude-stats-card h2 span {
  color: #f8da63;
}

div.hashinclude-stats-card p {
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 1rem;
}

/* Hash Include Stasts section ends here */
